<header class="hero">
    <div class="container">

        <div class="topBox">
            <button (click)="return()" role="link"><i class="fa-solid fa-angle-left"></i></button>
        </div>

        
        <nav class="nav">
            <!-- <a href="#" class="nav__items nav__items--cta">Contáctame</a>
             <a href="#" class="nav__items">sobre mi<Sobre/a>
             <a href="#" class="nav__items">Proyectos</a>-->
        </nav>
        <section class="hero__container">
            <div class="hero__texts">
                <h1 class="hero__title">Visión
                </h1>
                <h2 class="hero__subtitle">Lo que queremos para el futuro</h2>
                <!-- <a href="#" class="hero__cta">Contáctame ahora</a> -->
            </div>
        </section>
    </div>
    <div class="hero__wave" style="overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.01,49.98 C150.00,149.98 349.21,-49.98 500.01,49.98 L500.01,149.98 L0.01,149.98 Z" style="stroke: none; fill: #fff;"></path></svg></div>
 </header>

 <main>
     <section class="about">



         <figure class="about__img about__img--left">
             <img src="../../assets/mano.png" class="about__picture">
         </figure>

         <div class="about__texts">
             <h2 class="subtitle">Ser la mejor opción</h2>
             <p class="about__paragraph">Lograr en el 2050 posicionarnos como un sistema comercial de inventario y trazabilidad de fármacos, líder en el mercado de las tecnologías web aplicadas en el área de la salud, de los mejores referenciados a nivel nacional e internacional</p>
         
         </div>
     </section>
 </main>
