<div class="coloresFondo">

   <header class="hero">
       <div class="container">

        <div class="topBox">
            <button (click)="return()" role="link"><i class="fa-solid fa-angle-left"></i></button>
        </div>

        
           <nav class="nav">
           </nav>
           <section class="hero__container">
               <div class="hero__texts">
                   <h1 class="hero__title">Misión
                   </h1>
                   <h2 class="hero__subtitle">Nuestro objetivo</h2>
                   <!-- <a href="#" class="hero__cta">Contáctame ahora</a> -->
               </div>
           </section>
       </div>
       <div class="hero__wave" style="overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.01,49.98 C150.00,149.98 349.21,-49.98 500.01,49.98 L500.01,149.98 L0.01,149.98 Z" style="stroke: none; fill: #fff;"></path></svg></div>
    </header>

    <main>
       
        <section class="about">

            <div class="about__texts">
                <h2 class="subtitle">Confiabilidad</h2>
                <p class="about__paragraph">Atender las necesidades de suministro y rastreo de medicamentos en el servicio de cirugía de la IPS, mediante el uso de un sistema especializado de inventario y gestión de fármacos, disponiendo de un trabajo de calidad, brindando seguridad y organización en la información de los productos tratados</p>
                
            </div>

            <figure class="about__img">
                <img src="assets/confiable.png" class="about__picture">
            </figure>
    
        </section>
    </main>
</div>