<header class="hero">
    <div class="container">
        <div class="topBox">
            <button (click)="return()" role="link"><i class="fa-solid fa-angle-left"></i></button>
        </div>
        <section class="hero__container">
            <div class="hero__texts">
                <h1 class="hero__title">Quiénes Somos
                </h1>
                <h2 class="hero__subtitle">Una trazabilidad segura y garantizada</h2>
             <!-- <a href="#" class="hero__cta">Contáctame ahora</a> -->
            </div>
        </section>
    </div>
    <div class="hero__wave" style="overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.01,49.98 C150.00,149.98 349.21,-49.98 500.01,49.98 L500.01,149.98 L0.01,149.98 Z" style="stroke: none; fill: #fff;"></path></svg></div>
</header>

<main>
    <section class="presentation">
        <img src="../../assets/vaccine.jpg" class="presentation__picture" alt=""> 
        <h2 class="subtitle">Confiabilidad en tus medicamentos</h2>
        <p class="presentation__copy">MediTraz es un moderno sistema web que integra nuevas tecnologías en la ubicación y adminitración de fármacos enfocados al servicio de cirugía de la IPS</p>
    </section>
    
    <section class="projects">
        <div class="container">
            <h2 class="subtitle">Ventajas</h2>
            <div class="projects__grid" >
                <article class="projects__item">

                    <img src="../../assets/medicinas.jpg" class="projects__img">
                    <div class="projects__hover">
                        <h2 class="projects__title">Fármacos seguros</h2>
                    <!-- <i class="far fa-file-alt projects__icon"></i> -->
                    </div>

                </article>

                <article class="projects__item">
                    <img src="../../assets/seguridad.webp" class="projects__img">
                    <div class="projects__hover">
                        <h2 class="projects__title">Seguridad en la IPS</h2>
                    <!--   <i class="far fa-file-alt projects__icon"></i> -->
                    </div>

                </article>

                <article class="projects__item">
                    <img src="../../assets/bienestar.jpg" class="projects__img">
                    <div class="projects__hover">
                        <h2 class="projects__title">Mayor bienestar</h2>
                    <!-- <i class="far fa-file-alt projects__icon"></i> -->
                    </div>

                </article>

                <article class="projects__item">
                    <img src="../../assets/vigilancia.jpg" class="projects__img">
                    <div class="projects__hover">
                        <h2 class="projects__title">Mejor vigilancia</h2>
                    <!--  <i class="far fa-file-alt projects__icon"></i> -->
                    </div>

                </article>

                <article class="projects__item">
                    <img src="../../assets/medicinas4.jpg" class="projects__img">
                    <div class="projects__hover">
                        <h2 class="projects__title">Control de entradas y salidas de fármacos</h2>
                    <!--  <i class="far fa-file-alt projects__icon"></i> -->
                    </div>

                </article>





                

            </div>
        </div>
    </section>

    
    <section class="testimony__container">
        <h2 class="subtitle2">Nuestro Equipo de Trabajo</h2>
        <div class="testimony__grid">
            <article class="testimony__item">
                <div class="testimony__person">
                    <img src="../../assets/patricia.jpeg" alt="" class="testimony__img">

                        <div class="testimony__texts">
                            <h3 class="testimony__name">Patricia Vidal</h3> 
                            <p>&nbsp;</p>
                            <p class="testimony__verification">Estudiante de Ingeniería Biomédica</p>
                            <p>&nbsp;</p>
                            <p class="testimony__verification"> Programadora de Frontend</p>
                        </div>
                </div>
            </article>

            <article class="testimony__item">
                <div class="testimony__person">
                    <img src="../../assets/santiago.jpeg" alt="" class="testimony__img">
                        <div class="testimony__texts">
                            <h3 class="testimony__name">Santiago Sánchez</h3> 
                            <p>&nbsp;</p>
                            <p class="testimony__verification">Estudiante de Ingeniería Biomédica</p>
                            <p>&nbsp;</p>
                            <p class="testimony__verification">Encargado de la Normatividad</p>
                        </div>
                </div>

            </article>

            <article class="testimony__item">
                <div class="testimony__person">
                    <img src="../../assets/brayan.jpeg" alt="" class="testimony__img">
                        <div class="testimony__texts">
                            <h3 class="testimony__name">Brayan León</h3> 
                            <p>&nbsp;</p>
                            <p class="testimony__verification">Estudiante de Ingeniería Biomédica</p>
                            <p>&nbsp;</p>
                            <p class="testimony__verification"> Programador de Backend y Frontend</p>
                        </div>
                </div>

            </article>

            <article class="testimony__item">
                <div class="testimony__person">
                    <img src="../../assets/gabriela.jpg" alt="" class="testimony__img">
                        <div class="testimony__texts">
                            <h3 class="testimony__name">Gabriela Barbosa</h3> 
                            <p>&nbsp;</p>
                            <p class="testimony__verification">Estudiante de Ingeniería Biomédica</p>
                            <p>&nbsp;</p>
                            <p class="testimony__verification"> Programadora de Frontend</p>
                        </div>
                </div>
            </article>
        </div>
    </section>
</main>

