<body>
    <section class="request">
        <div class="container">
            <div class="topBox">
                <button (click)="return()" role="link"><i class="fa-solid fa-angle-left"></i></button>
                <span class="first-title">Gestionar Medicamentos</span>
            </div>


            <form [formGroup]="gestionarPedido" (ngSubmit)="onSubmit()">
                <div class="form first"> 
                    <div class="nurse and destination">
                        <span class="title">Pedidos de Medicamentos</span>


                        <div class="fields">
                            <div class="input-field">
                                <label>Cantidad Med. #1</label>
                                <input type="number" value={{cantidades1()}} [attr.disabled]="true">
                            </div>

                            <div class="input-field">
                                <label>Nombre Comercial - Laboratorio</label>
                                <input type="text" value={{nameComercial1()}} [attr.disabled]="true">
                            </div>

                            <div class="input-field">
                                <label>Código Med. 1</label>
                                <input type="number" required>
                            </div>

                            <div class="input-field">
                                <label>Cantidad Med. #2</label>
                                <input type="number" value={{cantidades2()}} [attr.disabled]="true">
                            </div>

                            <div class="input-field">
                                <label>Nombre Comercial - Laboratorio</label>
                                <input type="text" value={{nameComercial2()}} [attr.disabled]="true">
                            </div>

                            <div class="input-field">
                                <label>Código Med. 2</label>
                                <input type="number" required>
                            </div>

                            <div class="input-field">
                                <label>Cantidad Med. #3</label>
                                <input type="number" value={{cantidades3()}} [attr.disabled]="true">
                            </div>

                            <div class="input-field">
                                <label>Nombre Comercial - Laboratorio</label>
                                <input type="text" value={{nameComercial3()}} [attr.disabled]="true">
                            </div>

                            <div class="input-field">
                                <label>Código Med. 3</label>
                                <input type="number" required>
                            </div>

                            <div class="input-field">
                                <label>Nombre de Quién Entrega</label>
                                <input type="number" placeholder="{{personaEntrega()}}" [attr.disabled]="true">
                            </div>

                            <div class="input-field">
                                <label>Nombre de Quién Transporta</label>
                                <select required formControlName="idPersonWhoTransports">
                                    <option disabled selected>Seleccionar nombre</option>
                                    <option *ngFor="let gestionarPedido of listaUsuariosTransporte" [ngValue]="gestionarPedido.idUser">
                                        {{gestionarPedido.name }} {{gestionarPedido.lastName}} </option>
                                </select>
                            </div>

                            <div class="input-field">
                                <label>Nombre de Quién Recibirá</label>
                                <input type="text" value={{enfermeraNombre()}} [attr.disabled]="true">
                            </div>

                            <div class="input-field">
                                <label>Área de Salida</label>
                                <select required formControlName="idExitArea">
                                    <option disabled selected>Seleccionar nombre</option>
                                    <option value="1">Farmacia/1</option>
                                    <option value="2">Farmacia/2</option>
                                    <option value="3">Central de Mezclas/1</option>
                                    <option value="4">Central de Mezclas/2</option>
                                    
                                </select>
                            </div>

                            <div class="input-field">
                                <label>Área de Recepción</label>
                                <input type="text" value="{{areaRecepcion()}}" [attr.disabled]="true">
                            </div>

                            <div class="input-field">
                                <label>Transporte del Medicamento</label>
                                <select required formControlName="idTransportationMedications">
                                    <option disabled selected>Seleccionar equipo</option>
                                    <option *ngFor="let gestionarPedido of dataSourceEquipos" [ngValue]="gestionarPedido.idTranspEquip">
                                        {{gestionarPedido.nameTranspEquip }} </option>
                                </select>
                            </div>



                        </div>
                        <div class="buttons"> 
                            <button class="sumbit">
                                    <span class="btnText">Medicamento en Camino</span>
                                    <i class="uil uil-navigator"></i>
                            </button>
                        </div>   
                    </div> 
                </div>
            </form>
        </div>
    </section>
</body>